/*!
 * Anyfin styles
 */

[ng-click] {
  cursor: pointer;
}
.slot {
  float: left;
  width: 14.28%;
}
.slot select {
  width: 100%;
}
td.numeric {
  text-align: right;
}
.panel .table > tbody > tr > td {
  padding-left: 15px;
  padding-right: 15px;
}
select {
  width: 100%;
}
.graveyard ul {
  list-style: none none;
  margin: 1em 0 0;
  padding: 0;
}
.graveyard ul li {
  padding: 2px 0;
}
.titip-content p {
  margin: 0;
}
.titip-content h4 {
  margin: 0 0 0.3em;
}
.titip-content p + h4 {
  margin-top: 0.3em;
}
