<html ng-app="anyfin">
  <head>
    <title>Anyfin Can Be Calculated</title>
    <link rel="stylesheet" href="dist/css/vendor.min.css">
    <link rel="stylesheet" href="dist/css/style.css">
    <script src="dist/js/vendor.min.js"></script>
    <script src="dist/js/app.js"></script>
  </head>
  <body ng-controller="IndexCtrl">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Anyfin Calculator</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container ng-cloak">
      <div class="row">
        <div class="col-sm-24 col-md-7 col-lg-5 graveyard">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left">Graveyard</h4>
              <div class="pull-right">
                <a ng-if="graveyardDirty()" class="btn btn-default" ng-click="clearGraveyard()">Reset</a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <ul class="card-list clearfix" murloc-counters="graveyard"></ul>
            </div>
          </div>
        </div>

        <div class="col-sm-24 col-md-17 col-lg-14">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left">Your Board State - {{state.free()}} Slots Free</h4>
              <deck-select class="pull-right" options="deckOptions" on-select="addToBoard" on-clear="clearBoard" board="board"></deck-select>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body clearfix">
              <h4 ng-if="!board.length">Your board is empty</h4>
              <ul ng-if="board.length" class="card-list clearfix">

                <li class="card-minion" ng-repeat="card in board track by $index">
                  <label class="card-minion-name">{{card.name}}</label>
                  <img ng-click="incrPower($index)" ng-right-click="decrPower($index)" ng-src="{{card.cardImg}}">
                  <span class="sr-only" ng-bind="card.name"></span>
                  <a class="card-minion-remove" ng-click="removeFromBoard($index)">
                    <i class="fa fa-times-circle"></i>
                  </a>
                  <p ng-if="card.murloc" class="card-minion-bar">
                    <i class="fa fa-arrow-down" ng-click="decrPower($index)"></i>
                    <span class="badge card-minion-badge card-minion-power" ng-bind="card.power"></span>
                    <i class="fa fa-arrow-up" ng-click="incrPower($index)"></i>
                  </p>
                  <label ng-if="card.murloc" class="card-minion-label">Base Power*</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="output panel panel-default">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left">Anyfin Can Happen!</h4>
              <div class="pull-right">
                <a ng-if="state.history.length" class="btn btn-default" ng-click="back()">Step Back</a>
                <a ng-if="dirty()" class="btn btn-default" ng-click="clear()">Reset All</a>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="panel-body">
              <div class="row calculations">
                <div class="col-sm-8">
                  <div class="well">
                    <figure class="calculation">
                      <h2>
                        <span ng-bind="state.sets.length"></span>
                        <span ng-show="state.sets.total >= combinationLimit" class="titip-right titip-wrapped">
                          <i class="fa fa-warning"></i>
                          <span class="titip-content">
                            You've reached the calculation limit for possible non-unique combinations 
                            ({{combinationLimit}}).  This means some outcomes will be dropped and your results will not be accurate.
                            Did that many murlocs really die?
                          </span>
                        </span>
                      </h2>
                      <figcaption>
                        <p>
                          <span ng-if="!state.sets.length || state.sets.length > 1">Possible Outcomes</span>
                          <span ng-if="state.sets.length == 1">Guaranteed Outcome</span>
                        </p>
                        <p ng-if="state.sets.length > 1" class="small">
                          (<span ng-bind="state.sets.total"></span><span ng-if="state.sets.total >= combinationLimit">+</span> compositions)
                        </p>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="well">
                    <figure class="calculation">
                      <h2>
                        <span class="damage-range">
                          <span class="titip-bottom titip-link" data-title="No damage to explain yet!" ng-show="!state.sets.min">0</span>
                          <murloc-set-damage ng-shoow="state.sets.min" set="state.sets.min" />
                        </span>
                        <span ng-show="state.sets.length > 1" class="damage-range">
                          <span class="small range-sep">to</span>
                          <murloc-set-damage set="state.sets.max" />
                        </span>
                      </h2>
                      <figcaption>
                        <p>Damage</p>
                        <p class="small">Hover for details</p>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="well">
                    <figure class="calculation">
                      <h2>
                        <span ng-bind="state.metrics.avg | number : 1"></span>
                      </h2>
                      <figcaption>
                        <p>Average</p>
                        <p class="small" ng-show="state.metrics.sd">
                          STDEV {{state.metrics.sd | number: 1}}
                        </p>
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>

              <div class="row" ng-if="state.sets.length > 1 && state.metrics.max > 0">
                <div class="col-sm-24 set-graph">
                  <nvd3 options="graphOptions" data="state.graphData"></nvd3> 
                </div>
                <div class="col-sm-24 set-table">
                  <murloc-set-table sets="state.sets" />
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body clearfix">
              <p>
                Use the Graveyard, Your Board, and Opponent panels to track what murlocs have been played and
                are currently in play.  As the state changes, the potential damage and other information will
                be shown in the top panel.
              </p>

              <p>
                The results will calculate the damage of <b>all murlocs</b>, both on board and from Anyfin.  This includes
                special abilities like buffs a Tidecaller will receive from the Anyfin-summoned minions.  Non-murloc 
                damage is not calculated, though it's important to add "other minions" to the board if they exist 
                as it affects the combo damage.
              </p>

              <p>
                If there is more than one combination of murlocs that can be summoned from Anyfin, the results will
                show a damage range, average, and a graph which shows the percentage chance of hitting any damage
                number in the range.  
              </p>

              <p class="help-block">
                *The base power of murlocs on your board should be adjusted to the current attack power of a murloc 
                <i><b>before</b></i> bonuses contingent on other murlocs in play, namely the Murk-Eye text and the 
                Warleader/Oracle buffs.
              </p>

              <p class="help-block">
                In addition to using the arrows, left and right clicking the murloc cards will increment/decrement 
                their numbers.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-24 col-md-17 col-lg-5 pull-right">
          <div class="panel panel-default opponent">
            <div class="panel-heading">
              <h4 class="panel-title pull-left">Opponent</h4>
              <div class="pull-right">
                <a ng-if="opponentDirty()" class="btn btn-default" ng-click="clearOpponent()">Reset</a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <ul class="card-list clearfix" murloc-counters="opponent"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script id="tmplMurlocSetDamage.html" type="text/ng-template">
      <span class="titip-bottom titip-wrapped">
        <span class="titip-link" ng-bind="set.damage"></span>
        <span class="titip-content">
          <h4 ng-if="set.onboard.length">On Board: <span ng-bind="set.onboard.damage"></span></h4>
          <p ng-repeat="murloc in set.onboard">
            {{murloc.name}} - {{murloc.attack}}
          </p>
          <h4 ng-if="set.graveyard.length">Anyfin: <span ng-bind="set.graveyard.damage"></span></h4>
          <p ng-repeat="murloc in set.graveyard">
            {{murloc.name}} - {{murloc.attack}}
          </p>
        </span>
      </span>
    </script>

    <script id="tmplMurlocSetTable.html" type="text/ng-template">
      <table class="murloc-set-table table table-striped">
        <thead>
          <tr>
            <th ng-click="toggleSort()">
              <i ng-if="!sort" class="fa fa-sort-amount-asc"></i>
              <i ng-if="sort" class="fa fa-sort-amount-desc"></i>
              Dmg
            </th>
            <th>
              Occ 
              <span class="titip-top" data-title="Number of times this composition of murlocs occurred">
                <i class="fa fa-info-circle"></i>
              </span>
            </th>
            <th>
              Composition 
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="set in sets | orderBy:predicate:sort | limitTo:perPage:offset">
            <td class="murloc-damage">{{set.damage}}</td>
            <td class="murloc-count">{{set.count}}</td>
            <td class="murloc-composition">
              <div ng-if="set.onboard.length">
                <label>On Board: <span ng-bind="set.onboard.damage"></span></label> -
                <ul>
                  <li ng-repeat="murloc in set.onboard">{{murloc.name}} - {{murloc.attack}}</li>
                </ul>
              </div>
              <div ng-if="set.graveyard.length"> 
                <label>Anyfin: <span ng-bind="set.graveyard.damage"></span></label>
                &bull;
                <ul>
                  <li ng-repeat="murloc in set.graveyard">{{murloc.name}} - {{murloc.attack}}</li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <nav>
                <ul class="pagination pagination-sm" ng-show="pages() > 1">
                  <li ng-class="{disabled: page == 0}" ng-if="pages() > pageWindow" ng-click="setPage(0)"><span>First</span></li>
                  <li ng-class="{disabled: page == 0}" ng-click="setPage(page - 1)"><span>«</span></li>
                  </li>
                  <li ng-repeat="i in pageRange()" ng-class="{active: page == i}" ng-click="setPage(i)">
                    <span>{{i + 1}}</span>
                  </li>
                  <li ng-class="{disabled: page == pages()-1}" ng-click="setPage(page + 1)"><span>»</span></li>
                  <li ng-class="{disabled: page == pages()-1}" ng-if="pages() > pageWindow" ng-click="setPage(pages()-1)"><span>Last</span></li>
                </ul>
              </nav>
            </td>
          </tr>
        </tfoot>
      </table>
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-73872502-1', 'auto');
      ga('send', 'pageview');
    </script>
    <a href="https://github.com/numbers1311407/anyfin" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
  </body>
</html>
