
@font-face {
  font-family: 'BlizQuadrataWeb';
  src: url('BlizQuadrataWeb.eot?#iefix') format('embedded-opentype'),  url('BlizQuadrataWeb.woff') format('woff'), url('BlizQuadrataWeb.ttf')  format('truetype'), url('BlizQuadrataWeb.svg#BlizQuadrataWeb') format('svg');
  font-weight: normal;
  font-style: normal;
}
