/*!
 * Anyfin styles
 */

@import "fonts";

$brand-primary: darken(#428bca, 6.5%);
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

$small-up: "only screen and (min-width: #{$breakpoint-sm})";
$medium-up: "only screen and (min-width: #{$breakpoint-md})";
$large-up: "only screen and (min-width: #{$breakpoint-lg})";

body {
  background-color: rgb(241, 214, 169);
  background: url(../../assets/images/body-content-bg.jpg) 50% 50%;
}

[ng-click] {
  cursor: pointer;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.slot select {
  width: 100%;
}
.panel .table > tbody > tr > td {
  padding-left: 15px;
  padding-right: 15px;
}
select {
  width: 100%;
}
.graveyard ul {
  list-style: none none;
  margin: 1em 0 0;
  padding: 0;
}
.graveyard ul li {
  padding: 2px 0;
}

[class*='titip'][data-title]:after, .titip-content {
  background-color: #2C0903;
  font-size: 12px;
}
.titip-content p {
  margin: 0;
}
.titip-content h4 {
  margin: 0 0 0.3em;
}
.titip-content p + h4 {
  margin-top: 0.3em;
}
.titip-link {
  border-bottom: 1px dashed #000;
}
.panel-heading h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 50%;
  padding-top: 6px;
  height: 34px;
}

.deck {
  position: relative;
  display: inline-block;
  margin-left: 4px;

  .dropdown-menu {
    left: auto;
    right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  ul {
    margin-left: -8px;
    padding: 0;
    border: 0;
    background: none;
    width: 216px;
  }

  .deck-slot a {
    height: 35px;
    width: 100%;
    padding: 0;
    background-position: center right;
    background-repeat: no-repeat;

    color: #eee;

    &:hover { 
      background-color: transparent;
      color: #fff; 
    }

    span.deck-slot-wrapper {
      display: block;
      background: url(../../assets/images/bars/frame.png) no-repeat;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    span span {
      display: block;
      text-shadow: 2px 2px #333;
      text-indent: 32px;
      line-height: 38px;
      font-weight: bold;
      font-size: 12px;
      margin-left: 8px;

      background: rgba(0, 0, 0, 0.3);
      &:hover {
        background: none;
      }
    }
  }

}

ul.card-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none none;
  min-height: 202px;

  .card-minion-name {
    display: block;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
    margin: 5px 0 -3px;
  }

  .card-minion-remove {
    i {
      $color: #d9534f;
      color: $color;
      line-height: 25px;

      &:hover {
        color: lighten($color, 5%);
      }
    }
    position: absolute;
    top: 10%;
    right: -1px;
    font-size: 28px;
    border-radius: 50%;
    background-color: #fff;
  }

  .card-minion-input {
    margin-top: 5px;
    input {
      text-align: center;
      width: 40px;
    }
  }

  .card-minion-bar {
    font-size: 18px;
    margin: 0;

    i {
      font-size: 16px;
    }

    span {
      margin: 0 6px;
    }
  }

  .card-minion-label {
    font-size: 11px;
    color: #666;
  }

  .card-minion-power {
    background-color: #d9534f;
  }

  .card-minion {
    width: 50%;

    @media #{$small-up} {
      width: 20%;
    }
    @media #{$medium-up} {
      width: 14.28%;
    }
    .badge {
      border-radius: 50%;
      font-size: 15px;
    }

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
}

.card-minion, .graveyard-minion {
  position: relative;
  float: left;
  text-align: center;

  img {
    max-width: 100%;
  }
}

.opponent ul.card-list .card-minion {
  @media #{$large-up} {
    width: 50%;
  }
}


.graveyard ul.card-list .card-minion {

  @media #{$small-up} {
    width: 20%;
  }

  @media #{$medium-up} {
    width: 50%;
  }
}

.help-block {
  font-size: 11px;
  margin-bottom: 0;
}

.btn-tooltip {
  border-radius: 50%;
  padding: 6px;
}

figure.calculation {
  text-align: center;
  height: 100px;
  h2 {
    font-size: 35px;
    line-height: 1;
    margin-bottom: 5px;
  }
  figcaption p {
    margin: 0;
    font-size: 16px;
  }
  p.small {
    font-size: 75%;
  }
  figcaption p:first-child {
    margin-bottom: 7px;
  }
}

.fa-warning {
  color: $brand-warning;

}

.range-sep {
  margin: 0 -4px 0 0;
}
.well {
  margin-bottom: 0;
  background: #ffffde;
  border-color: #CE7A34;
}
.navbar-default {
  background-color: #2C0903;
  border-radius: 0;
  border: 1px solid #CE7A34;
  border-width: 0 0 1px 0;

  .navbar-brand {
    color: #fff;
    text-shadow: 1px 1px 1em #CE7a34;
    text-transform: uppercase;
  }
}
.panel-default {
  border-color: #CE7A34;
  -webkit-box-shadow: 3px 3px 12px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 12px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 12px -2px rgba(0,0,0,0.75);

  > .panel-heading {
    color: #fff;
    background-color: #640000;
    text-shadow: 1px 1px #4b0000;
    border-color: #CE7A34;
  }
  .panel-body {
    background-color: #fff;
  }
}
.badge {
  background-color: #2C0903;
  font-family: BlizQuadrataWeb;
}
.btn-default {
  font-size: 13px;
  &, 
  &:focus {
    background-color: #850000;
    border-color: #a22;
    color: #fff;
  }

  &:hover, 
  &:active, 
  &:active:hover, 
  &:active:focus, 
  .open > &.dropdown-toggle,
  .open > &.dropdown-toggle:focus,
  .open > &.dropdown-toggle:hover {
    background-color: #ba0000;
    border-color: #fff;
    color: #fff;
  }

  &:active:hover {
    background-color: #a30000;
  }
}
